
.coverpill {
  transition: 500ms;
  margin: $margin;
  padding: $padding;
  border-radius: $round;
  background-color: $surface1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.covercirc {
  transition: 500ms;
  margin: - $padding;
  margin-right: 5px;
  padding: $padding;
  border-radius: $round;
  background-color: $surface1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.iconlabel {
  border-radius: 50%;
  background-color: $white0;
  padding: $padding;
}

.mlabel {
  margin: $margin;
  background-color: $surface0;
  border-radius: 40px;
  padding-right: $padding;
}

.mline {
  trough {
    @extend .widget;
    min-width: 40px;
    min-height: 5px;
    margin: 2*$margin;
    padding: 0px;
    background-color: $surface2;
    highlight {
      background-color: $white0;
      border-radius: $round;
    }
    slider {
      min-width: 5px;
      min-height: 5px;
      margin: -10px;
    }
  }
}
