
.notifimg {
  margin: $margin;
  border-radius: $round;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

$c1: $lavender;
$c2: $red;

.boxborder {
  background: $surface1;
  border-bottom-left-radius: $round + 3px;
  border-bottom-right-radius: $round + 3px;
  transition: 100ms;
}

@keyframes gradanim { 
    0%{
      background: linear-gradient(130deg, $c1, $c2)}
    50%{
      background: linear-gradient(130deg, $c2, $c1)}
    100%{
      background: linear-gradient(130deg, $c1, $c2)}
}

.loggednoti {
  .image {
    transition: 500ms ease;
    border-radius: $round;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
