
$round: 15px;
$padding: 5px;
$margin: 5px;
$canim: cubic-bezier(0.34, 1.56, 0.64, 1);

@import "./theme.scss";

* {
  all: unset;
  color: $white0;
  font-family: "IBM Plex Sans";
  font-size: 14px;
}

.window {
  padding: $padding; 
  background-color: $base;
  border-radius: $round;
}

.widget {
  margin: $margin;
  padding: $padding;
  background-color: $surface0;
  border-radius: $round;
  transition: background-color 500ms;
  &.trans {
    background-color: transparent;
  }
  &.maxr {
    border-radius: 100px;
  }
}

.cubictransition {
  transition: 600ms;
  transition-timing-function: $canim;
}

@keyframes rotateframes {
  0% {
    -gtk-icon-transform: rotate(0deg);
  }
  100% {
    -gtk-icon-transform: rotate(360deg);
  }
}

.rotateforever {
  animation: rotateframes 5s linear 0s infinite;
}

tooltip {
  background-color: $base;
  border-radius: $round;
}

@import "./scss/bar.scss";
@import "./scss/notifications.scss";
@import "./scss/launcher.scss";
@import "./scss/media.scss";
@import "./scss/timer.scss";
@import "./scss/popups.scss";
// @import "./scss/mmode.scss";
@import "./scss/dashboard.scss";
@import "./scss/connection.scss";
